<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
 
    <title> FUNDACION MI BELLA CIUDAD </title>
      {% load static %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">  
      <link href="static/estilos.css" rel="stylesheet" type="text/css" >
 
    </head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">BIENVENIDOS!</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  MENU
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="register">Registro</a></li>
                  <li><a class="dropdown-item" href="Quienes_somos">Quienes somos</a></li>
                  <li><a class="dropdown-item" href="login">Login</a></li>
              
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section>
        {% for elemento in articulos %}
             <article>
                <h3> {{ elemento.nombre }} </h3>
                <P>
                    {{elemento.contenido}}
                </P>

                <img src="media/{{ elemento.imagen }} ">
             </article>
             
        {% endfor %}
    
      </section>
    
   <div>
    

</body>


<footer>

  <section1>

  <p style="color:RGB(255,255,255)"> 
Presidenta Marta Acosta
</p>

<p style="color:RGB(255,255,255)">
  UBICACION: Dir. Joaquin V Gonzalez 760           CONTACTO: 3624-648735 
</p>

</section>

<section1>
<p 

style="color:RGB(255,255,255)">
FACEBOOK: /CentroDeGestionyParticipacionCiudadana

</section>  

 
</footer>
</html>