

*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(35, 24, 90);
    height: auto;
}
h1{
    color:aqua;
}
article{
    background-color: beige;
    border-radius: 10px;
    box-shadow: 2px 2x 2px black;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
}
article h3{
    font-size: 1.5rem;
    text-align: center;
}
article img{
    max-width: 90%;
} 

footer{
    background-color:  #212529;
    height: 100px;
 

}

 section{
    background-image: linear-gradient(to right top, #df6861, #d65276, #bf478f, #9648a6, #544fb5);
    
 }

 article{
    margin-left: 20%;
    width: 850px;
 }

 article img {
    max-width: 90%;
    align-content: center;
    margin-left: 35%;
}

 footer a {
    color: rgb(#212529);
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    
 }
 footer section1 { 
    background-color:  #212529;
    display: inline-block;
    width: 500px;}

 