{% extends 'base.html' %}


{% block title %} {{ post.title }} - ONG {% endblock title %}



{% block content %}

<style type="text/css">

  .Hoverereee{
    display: none;
  }
  
  .Hoverer:hover .Hoverereee {
    display: grid;
  }

</style>

  <div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <h1>{{ post.title }}</h1>
          <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
          <p class="card-text ">{{ post.content | safe }}</p>
        </div>
      </div>
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
  </div>

<h1></h1>
<section class="gradient-custom">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card">
          <div class="card-body p-4">
            <h4 class="text-center mb-4 pb-2">Comentarios</h4>

            <div>
              <!-- Comments Form --> 
              <h2>Nuevo comentario</h2>
              <form action="." method="post">
                  {{ comment_form.as_p }}
                  {% csrf_token %}
                  <button type="submit">comentar</button>
              </form>
            </div>

            {% for comment in comment %}
              <div class="row">
                <div class="col">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" width="65"
                      height="65" />
                    <div class="flex-grow-1 flex-shrink-1">
                      <div>
                        <div class="d-flex justify-content-between align-items-center">
                          <p class="mb-1">
                            {{ comment.author }}<span class="small">- {{ comment.created_on }} | 2 hours ago</span>
                          </p>
                          <a href="" class="Hoverer"><i class="fas fa-reply fa-xs "></i><span class="small">responder</span></a>
                        </div>
                        <p class="small mb-0">
                          {{ comment.content |linebreaks }}
                        </p>
                    </div>
                  </div>

                </div>
              </div>
              {% empty %}
                <h4>no hay comentarios</h4>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}






