{% extends 'base.html' %}


{% block title %} Quienes somos? -Ong {% endblock title %}


{% block content %}



<div>
        <H2>
            El propósito de este grupo de personas es prestar cuidado y atención a niños, niñas, y adolescentes, adultos mayores, expuestos a las desigualdades que se presentan en la vida, pero muy especialmente, cuando los derechos han sido amenazados, inobservados o vulnerados.
De esta manera fue y es la misión de este grupo de personas, construir un proyecto, que ofreciera un espacio en el cual se garantizase el restablecimiento pleno de sus derechos, a la luz de la doctrina de la protección integral, con acciones siempre orientadas y protegidas por el marco legal.
Los principios de Fundación están centrados en solidaridad, honestidad, sensibilidad, respeto, tolerancia, y sobre todo principios rectores de accionar, tanto de los socios fundadores, como quienes se vinculan a la organización, buscando así apoyar los derechos de los niños y adolescentes, adultos mayores, cuyo cuidado han sido confiados a esta institución.
Trabajamos en la asistencia inmediata de centros comunitarios, comedores y hogares. Gracias a las donaciones que llegan a la Fundación. Proveemos de alimentos, elementos de limpieza, útiles escolares, elementos de primera necesidad y equipamiento a distintos centros. Coordinamos una red de distribución mediante los equipos de voluntarios que la Fundación tiene, para llegar con las donaciones a todos los barrios más carenciados de nuestra ciudad.
        </H2></div>



{% endblock content %}


